@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>

    El cambio de contraseña ha sido exitoso. Por favor, haga click aquí para loguearse <a asp-page="./Login">click</a>.
</p>
