
@model CasinoRegistro.Models.ViewModels.CajeroViewModel

@{
    ViewData["Title"] = ViewBag.Titulo;
}

<br />
<br />
<h3 class="text-center">@ViewBag.Encabezado</h3>
<form asp-action="Edit" method="POST" enctype="multipart/form-data">
    <!--Se envía el ID del artículo como campo oculto-->
    <input type="hidden" asp-for="CajeroUserVM.Id" />
    <input type="hidden" asp-for="CajeroUserVM.EsCajero" />

    <div class="row px-2 border">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-8 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CajeroUserVM.Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CajeroUserVM.Email" class="form-control" disabled />                   
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CajeroUserVM.Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CajeroUserVM.Nombre" class="form-control" disabled />                    
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CajeroUserVM.Apellido"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CajeroUserVM.Apellido" class="form-control" disabled />                    
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CajeroUserVM.DNI"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CajeroUserVM.DNI" class="form-control" disabled />                    
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CajeroUserVM.Telefono"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CajeroUserVM.Telefono" class="form-control" disabled />                    
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CajeroUserVM.FichasCargar"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CajeroUserVM.FichasCargar" class="form-control" disabled />                    
                </div>
            </div>

            <br />

            @*  POR EL MOMENTO NO SE USA
               <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CajeroUserVM.PorcentajeComision"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CajeroUserVM.PorcentajeComision" class="form-control" disabled />                    
                </div>
            </div>

            <br /> *@

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CajeroUserVM.Rol"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CajeroUserVM.Rol" class="form-control" disabled />
                </div>
            </div>

            <br />




            @* <div class="form-group-row">
                <div class="col-8"> *@
                    <div class="row">
                        <div class="col">

                            @if (Model.CajeroUserVM.EsCajero == false)
                            {
                                <a asp-action="IndexSecretarias" class="btn btn-success form-control">Volver atrás</a>
                            }

                            else
                            {
                                <a asp-action="Index" class="btn btn-success form-control">Volver atrás</a>
                            }


                        </div>
                        &nbsp;
                        <div class="col">


                            @if (Model.CajeroUserVM.EsCajero == false)
                            {
                                <a asp-action="EditSecretaria" class="btn btn-primary form-control" asp-route-id="@Model?.CajeroUserVM.Id">Editar</a>
                            }

                            else
                            {
                                <a asp-action="Edit" class="btn btn-primary form-control" asp-route-id="@Model?.CajeroUserVM.Id">Editar</a>
                            }
                            
                            
                           
                        </div>

                    </div>
            @*     </div>
            </div> *@


       @*     <div class="row">
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atrás</a>
                </div>
                &nbsp;
                <div class="col">
                   
                    <a asp-action="Edit" class="btn btn-primary form-control"  asp-route-id="@Model?.CajeroUserVM.Id">Editar</a>
                </div>

            </div> *@

            <br />

        </div>


        @if (@Model.CajeroUserVM.UrlImagen != null)
        {
            <div class="col-4 pt-3">
                <img src="@Model.CajeroUserVM.UrlImagen" width="300px" style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
        }
     

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


